.labelinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    label {
        width: 20rem;
    } 

    input {
        width: 2rem;
        height: 2rem;
        padding-left: 5px;
        margin-bottom: 5px;
    }
}

button {
    position: relative;
    left: 50%;
    margin-top: 2rem;
}

h2 {
    margin-bottom: 4rem;
}